body {
    font-family: 'Merriweather', serif;
}

.header {
    background-image: linear-gradient(180deg, #070211 0%, rgba(250, 249, 251, 0) 100%), url('../resources/Banner\ Image.png');
    /* background: linear-gradient(180deg, #070211 0%, rgba(250, 249, 251, 0) 100%); */

    width: 1320px;
    height: 600px;
    /* border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
    background-repeat: no-repeat;
    margin: 50px auto;
}

.banner-greeting {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;

}

.banner-title {
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    /* 131.944% */
}

.banner-content {
    padding: 230px 340px 170px 340px;
}

.happy {
    text-align: center;
}

.happy-offer {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding-top: 0;

}

.happy-holiday {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.happy-all {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-top: 16px;
}

.banner-two {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),

        url('../resources/Vectorrr.png');

    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);

    width: 1320px;
    height: 600px;
    margin-top: 120px;
    display: flex;
}

.banner-two-content {
    text-align: left;
    padding: 120px 120px 0 120px;

}

.banner-two-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    /* 137.5% */
    letter-spacing: 7.04px;
    width: 642px;

}

.banner-two-des {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    /* 166.667% */
    width: 697px;

}

.pic {
    width: 319.83px;
    height: 464.662px;
    padding: 70px 0px 0px 0px;
    justify-content: center;
    align-items: center;

}

.join {
    background: black;
    color: white;

}

.main {
    align-items: left;
}

.main-sec {
    padding-top: 1800px;
    padding-left: 25px;
    text-align: left;

}

.main-title1 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.main-title2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.main-des {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 50px;
    /* 160% */
}

.img-set-one {
    display: flex;
    justify-content: space-evenly;
    border-radius: 16px;
    padding-left: 20px;
    padding-bottom: 20px;


}

.img-set-two {
    display: flex;
    justify-content: space-evenly;
    border-radius: 16px;

    padding-left: 20px;


}

.subscribe {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 50px;
    margin-left: 50px;
    padding-bottom: 50px;
}

.email {
    width: 150px;
    height: 150px;
    padding: 80px 580px 0 580px;
}

.sub-title {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.sub-des {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
}

.sub-email {
    margin-top: 50px;
    margin-left: 100px;
    width: 400px;
    height: 30px;
    border-radius: 50px;
    background: #FFF;
}

.sub {
    width: 200px;
    height: 35px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    margin-left: -40px;
}

.email-alingment {
    margin-left: 300px;
}

.footer {
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
    background: #070211;
    margin-top:50px;
    margin-left:50px;
    margin-right: 50px;



}